* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(175,42%,50%);
    color:hsl(300,20%,99%);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}

.logo-section {
    font-size: larger;
}

.nav-main{
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    gap:40px;
    justify-content: left;
    align-items: center;
    
    
}

.filter-section {
    width: 89%;
    display: flex;
    gap:25px;
    align-items: center;
    margin-left: 15px;
    font-size: 1.5rem;
    border-bottom: 1px solid hsl(175, 48%, 38%);
    padding-bottom: 10px;
}



.color-todo {
    color: hsl(300,20%,99%);
}

.color-wip {
    color: hsl(39,99%,72%);
}

.color-test {
    color: hsl(251,43%,57%);
}

.color-done {
    color: hsl(81,82%,68%);   
}

.bgcolor-todo {
    background-color: hsl(300,20%,99%);
}

.bgcolor-wip {
    background-color: hsl(39,99%,72%);
}

.bgcolor-test {
    background-color: hsl(251,43%,57%);
}

.bgcolor-done {
    background-color: hsl(81,82%,68%);   
}

.quickbuttons {
    display: flex;
    column-gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.btn-main{
    padding: 6px;
    border: 1px solid azure;
    height: 40px;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 10px;
    
}

.btn-main:hover {
    cursor: pointer;
    background-color:aquamarine;
}

.card-edit {
    text-align: center;
    width: 460px;
    height: 380px;

    
    background-color: hsl(175, 40%, 46%);
    border-radius: 5px;
    box-shadow: 3px 3px 10px hsl(175, 38%, 30%);
    margin:10px;
    padding: 10px;

    display: none;
    flex-direction: column;
    row-gap: 30px;
    
    
    position: absolute;

    left:35vw;
    top:25vh;
}

.card-edit span {
    font-size: 2rem;
}

.text-section {
    width: 100%;
    height: 75%;
    padding: 5px;
    
}

#fld-title {
    height: 40px;
    width:100%;
    margin-bottom: 3px;

    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: bolder;

    background-color: hsl(175,42%,50%);
    padding-left: 5px;
    
}

#fld-title::placeholder {
    color: white;
}

#fld-description {
    width: 100%;
    height: 70%;
    resize: none;

    border: none;
    border-radius: 5px;
    font-size: large;

    background-color: hsl(175,42%,50%);
    padding-left: 5px;
    
    
    
}

#fld-description::placeholder {
    color:white;
}


.color-section {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    padding-left: 20PX;
    
}

.color-section-selector {
    height: 35px;
    width: 35px;
    border-radius: 50px;
    
}



.card-container {
    width:100%;
    height: 100vh;

    padding: 20px;

    background-color: hsl(175,42%,50%);

    display: flex;
}

.card {
    width: 250px;
    height: 250px;

    background-color:khaki;
    margin:5px;

    box-shadow: 3px 3px 10px hsl(175, 38%, 30%);
    border-radius: 5px;

    color:black;

    
}

.colorbar {

    width: 100%;
    height: 15%;
    background-color: hsl(39,99%,72%);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
    padding: 4px;
    font-size: 1.5rem;
}

.title {
    width: 100%;
    height: 12%;
    background-color:rgb(228, 215, 102);

    padding: 4px;
    font-weight: bold;
    font-size: 1.2rem;
}

.description {
    width: 100%;
    height: 73%;

    padding: 8px;
    line-height: 30px;

    font-size: 1.1rem;
    
}

@media  (max-width:460px) {

    .card-edit {
        width:96%;
        left:0px;
    }



}